<section class="lg:w-5/12 mx-auto my-3 ">

    <h1 class="text-5xl text-blue-700 font-medium text-center mb-6">LinkedPosts</h1>

    <form [formGroup]="changePass" (ngSubmit)="formSubmit()" class="w-3/4 mx-auto bg-white rounded-md p-4">

        <h3 class="text-2xl font-medium text-blue-700 my-3 ">Change Password</h3>

        <div class="mb-6">
            <input type="password" id="password" formControlName="password" [ngClass]="
        {

          'valid':!changePass.get('password')?.errors && (changePass.get('password')?.touched || changePass.get('password')?.dirty) ,
          'invalid':changePass.get('password')?.errors && (changePass.get('password')?.touched || changePass.get('password')?.dirty)

        }
   " class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Type your password.." required />

            <app-alert [formName]="changePass" [controlName]="'password'" />

        </div>

        <div class="mb-6">
            <input type="password" id="newPassword" formControlName="newPassword" [ngClass]="
        {

          'valid':!changePass.get('newPassword')?.errors && (changePass.get('newPassword')?.touched || changePass.get('newPassword')?.dirty) ,
          'invalid':changePass.get('newPassword')?.errors && (changePass.get('newPassword')?.touched || changePass.get('newPassword')?.dirty)

        }
   " class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Type your newPassword.." required />

            <app-alert [formName]="changePass" [controlName]="'newPassword'" />

        </div>
        <div class="mb-6">
            <input type="password" id="confirmPassword" formControlName="confirmPassword" [ngClass]="
        {

          'valid':!changePass.get('confirmPassword')?.errors && (changePass.get('confirmPassword')?.touched || changePass.get('confirmPassword')?.dirty) ,
          'invalid':changePass.get('confirmPassword')?.errors && (changePass.get('confirmPassword')?.touched || changePass.get('confirmPassword')?.dirty)

        }
   " class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Type your confirmPassword.." required />

            <app-alert [formName]="changePass" [controlName]="'confirmPassword'" />

        </div>


        <div class="w-full flex justify-between items-center">

            <button type="submit" [disabled]="changePass.invalid" [ngClass]="{

            'bg-gray-300': changePass.invalid || isLoading ,
            'cursor-not-allowed': changePass.invalid || isLoading ,
            'bg-blue-700': changePass.valid || !isLoading ,
            'hover:bg-blue-800':  !isLoading ,

        }" class="text-white  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600  dark:focus:ring-blue-800">

                SignUp

                @if(isLoading){

                <i class="fas fa-spin fa-spinner"></i>

                }
            </button>

            @if(msg){

            <p class="text-green-700 first-letter:uppercase">{{msg}}</p>

            }
        </div>

    </form>

</section>